<p-card>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black;" class="corner">70&nbsp;&nbsp;&nbsp;Química sanguínea</td>
            <td style=" border-right: 1px solid black; width: 142px;" class="corner">71&nbsp;&nbsp;&nbsp;Urianálisis
            </td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black; width: 300px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Glucosa
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="width: 100px;"  type="text">&nbsp;mg/dl <br> </td>
            <td style=" border-right: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Color&nbsp; <input style="width: 100px;" type="text"> </td>
            <td style="text-align: center;" class="altoCelda">Glucosa</td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br> Negativo
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>+++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa3" value="New York" [(ngModel)]="glucosa" inputId="glucosa3">
                </p-radioButton> <br>++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa4" value="San Francisco" [(ngModel)]="glucosa" inputId="glucosa4">
                </p-radioButton><br> +
            </td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black; width: 300px;" class="altoCelda">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Colesterol
                &nbsp;&nbsp;&nbsp;&nbsp;<input style="width: 100px;" type="text">&nbsp;mg/dl </td>
            <td style="width: 100px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aspecto</td>
            <td style="text-align: center;width: 80px; font-size: 12px;">
                <p-radioButton name="aspecto1" value="Chicago" [(ngModel)]="aspecto" inputId="aspecto1"></p-radioButton>
                <br>
                Transparente

            </td>
            <td style="text-align: center; width: 100px; font-size: 12px;">
                <p-radioButton name="aspecto1" value="Los Angeles" [(ngModel)]="aspecto" inputId="aspecto2">
                </p-radioButton> <br> Ligeramente <br> turbio
            </td>
            <td style=" text-align: center; border-right: 1px solid black; width:57px; font-size: 12px;" >
                <p-radioButton name="aspecto2" value="New York" [(ngModel)]="aspecto" inputId="asecto3"></p-radioButton>
                <br>
                Turbio
            </td>
            <td style="text-align: center; width: 106px;" >Proteínas</td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>Negativo
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>+++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa3" value="New York" [(ngModel)]="glucosa" inputId="glucosa3">
                </p-radioButton><br>++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa4" value="San Francisco" [(ngModel)]="glucosa" inputId="glucosa4">
                </p-radioButton><br> +
            </td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black; width: 300px;" >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Triglicéridos&nbsp;&nbsp;<input style="width: 100px;" type="text">
                mg/dl</td>
            <td style=" border-right: 1px solid black; width: 337px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Densidad&nbsp; <input
                    style="width: 100px;" type="text"> </td>
            <td style="text-align: center;" class="altoCelda" >Cetonas</td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>Negativo
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>+++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa3" value="New York" [(ngModel)]="glucosa" inputId="glucosa3">
                </p-radioButton> <br>++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa4" value="San Francisco" [(ngModel)]="glucosa" inputId="glucosa4">
                </p-radioButton><br> +
            </td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black; width: 300px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HDL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                    style="width: 100px;" type="text">&nbsp;mg/dl </td>
            <td style=" border-right: 1px solid black; width: 337px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PH&nbsp; <input
                    style="width: 100px;" type="text"> </td>
            <td style=" border-right: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Urobilinogeno&nbsp;<input
                    style="width: 100px;" type="text"> </td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black; width: 300px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LDL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
                    style="width: 100px;" type="text">&nbsp;mg/dl </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nitritos</td>
            <td style="text-align: center; width: 100px;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>Negativo
            </td>
            <td style="text-align: center; border-right: 1px solid black; width: 91px;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>Positivo
            </td>
            <td style="text-align: center; width: 100px;" class="altoCelda" >Bilirrubinas</td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>Negativo
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>+++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa3" value="New York" [(ngModel)]="glucosa" inputId="glucosa3">
                </p-radioButton><br>++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa4" value="San Francisco" [(ngModel)]="glucosa" inputId="glucosa4">
                </p-radioButton><br> +
            </td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black; width: 300px;" class="cornerv">
                69&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hematología&nbsp;
            <td style="text-align: center; width: 90px;" >Leucocitos</td>
            <td style="text-align: center; width: 90px;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>Negativo
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>+++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa3" value="New York" [(ngModel)]="glucosa" inputId="glucosa3">
                </p-radioButton> <br>++
            </td>
            <td style="text-align: center; border-right: 1px solid black;">
                <p-radioButton name="glucosa4" value="San Francisco" [(ngModel)]="glucosa" inputId="glucosa4">
                </p-radioButton><br> +
            </td>
            <td style="text-align: center;" class="altoCelda" >Sangre</td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>Negativo
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>+++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa3" value="New York" [(ngModel)]="glucosa" inputId="glucosa3">
                </p-radioButton> <br>++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa4" value="San Francisco" [(ngModel)]="glucosa" inputId="glucosa4">
                </p-radioButton><br> +
            </td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black;width: 300px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hematocrito&nbsp;<input style="width: 100px;"
                     type="text">%</td>
            <td  class="corner" colspan="4">73 &nbsp;&nbsp;&nbsp;Microscópico
            </td>
        </tr>
        <tr>
            <td style=" border-right: 1px solid black; border-top: 1px solid black;  width: 300px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hemoglobina&nbsp;<input style="width: 100px;"
                    type="text">g/dl</td>
            <td style="border-top: 1px solid black; text-align: center; width: 99px;" >Células</td>

            <td style="text-align: center; border-top: 1px solid black;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>Escasas
            </td>
            <td style="text-align: center; border-top: 1px solid black;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>0-1/C
            </td>
            <td style="text-align: center; border-top: 1px solid black;">
                <p-radioButton name="glucosa3" value="New York" [(ngModel)]="glucosa" inputId="glucosa3">
                </p-radioButton>; <br>1-2/C
            </td>
            <td style="text-align: center; border-top: 1px solid black; border-right: 1px solid black;">
                <p-radioButton name="glucosa4" value="San Francisco" [(ngModel)]="glucosa" inputId="glucosa4">
                </p-radioButton><br> 2-3/C
            </td>
            <td style="border-top: 1px solid black; text-align: center;" class="altoCelda" >Cilindros</td>

            <td style="text-align: center; border-top: 1px solid black;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>Negativo
            </td>
            <td style="text-align: center; border-top: 1px solid black;">
                <p-radioButton name="glucosa3" value="New York" [(ngModel)]="glucosa" inputId="glucosa3">
                </p-radioButton><br>1-2/C
            </td>
            <td style="text-align: center; border-top: 1px solid black; ">
                <p-radioButton name="glucosa4" value="San Francisco" [(ngModel)]="glucosa" inputId="glucosa4">
                </p-radioButton><br> 2-3/C
            </td>
        </tr>

    </table>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black; width: 300px;" class="cornerv">72&nbsp;&nbsp;&nbsp;Seroinmunología</td>
            <td style="text-align: center; width: 99px;" >Bacterias</td>

            <td style="text-align: center;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>Escasas
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>0-1/C
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa3" value="New York" [(ngModel)]="glucosa" inputId="glucosa3">
                </p-radioButton> <br>1-2/C
            </td>
            <td style="text-align: center; border-right: 1px solid black;">
                <p-radioButton name="glucosa4" value="San Francisco" [(ngModel)]="glucosa" inputId="glucosa4">
                </p-radioButton><br> 2-3/C
            </td>
            <td style="text-align: center;" class="altoCelda">Cristales</td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>Negativo
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>+++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa3" value="New York" [(ngModel)]="glucosa" inputId="glucosa3">
                </p-radioButton><br>++
            </td>
            <td style="text-align: center;">
                <p-radioButton name="glucosa4" value="San Francisco" [(ngModel)]="glucosa" inputId="glucosa4">
                </p-radioButton><br> +
            </td>
        </tr>

    </table>
    <table id="mitable">
        <tr>
            <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HIV</td>
            <td style="text-align: center;" class="altoCelda">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>No reactivo
            </td>
            <td style="text-align: center; border-right: 1px solid black;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>Reactivo
            </td>


            <td style=" border-right: 1px solid black; width: 379px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Piocitos&nbsp;&nbsp;&nbsp;<input style="width: 100px;" 
                    type="text">/c</td>
            <td style=" border-right: 1px solid black;width: 331px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moco&nbsp;&nbsp;&nbsp;<input style="width: 100px;" 
                    type="text">g/dl</td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VDRL</td>
            <td style="text-align: center;" class="altoCelda">
                <p-radioButton name="glucosa1" value="Chicago" [(ngModel)]="glucosa" inputId="glucosa1"></p-radioButton>
                <br>No reactivo
            </td>
            <td style="text-align: center; border-right: 1px solid black;">
                <p-radioButton name="glucosa2" value="Los Angeles" [(ngModel)]="glucosa" inputId="glucosa2">
                </p-radioButton> <br>Reactivo
            </td>
            <td style=" border-right: 1px solid black;width: 710px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hematies&nbsp;&nbsp;<input style="width: 100px;" type="text"></td>
        </tr>
        <tr>
            <td colspan="3" style=" border-right: 1px solid black; border-top: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PSA&nbsp;<input style="width: 100px;" type="text"></td>
            <td style=" border-right: 1px solid black; border-top: 1px solid black;" class="corner">74&nbsp;&nbsp;&nbsp;Parasitología&nbsp;<input style="width: 100px;" type="text"></td>
        </tr>
        <tr>
            <td colspan="3" style=" border-right: 1px solid black; border-top: 1px solid black;" class="corner">72&nbsp;&nbsp;&nbsp;Grupo sanguíneo&nbsp;
                <input
                    style="width: 100px;"  type="text"></td>
            <td style=" border-right: 1px solid black; border-top: 1px solid black;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Test embarazo&nbsp;&nbsp;<input style="width: 100px;" type="text"></td>
        </tr>
    </table>
</p-card>