<!-- Tabla de medidas y otros datos PCARD -->
<p-card>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black;" class="corner">46 &nbsp;&nbsp; Estatura (cm)</td>
            <td style=" border-right: 1px solid black;" class="corner">47 &nbsp;&nbsp; Peso (kl)</td>
            <td style=" border-right: 1px solid black;" class="corner">48 &nbsp;&nbsp; Color cabellos</td>
            <td style=" border-right: 1px solid black;" class="corner">49 &nbsp;&nbsp; Color ojos</td>
            <td style="width: 120px;border-right: 1px solid black;" class="corner">50 &nbsp;&nbsp; I.M.C = Índice de
                masa corporal</td>
            <td style="width: 50px; border-right: 1px solid black;" class="corner">51 &nbsp;&nbsp; Perímetro Abdominal
            </td>
        </tr>
        <tr>
            <td style=" border-right: 1px solid black;"><input style="margin-left: 30px;" type="text" name="estatura">
            </td>
            <td style=" border-right: 1px solid black;"><input style="margin-left: 30px;" type="text" name="peso"></td>
            <td style=" border-right: 1px solid black;"><input style="margin-left: 30px;" type="text"
                    name="colorCabellos"></td>
            <td style=" border-right: 1px solid black;"><input style="margin-left: 30px;" type="text" name="colorOjos">
            </td>
            <td style=" width: 120px; border-right: 1px solid black;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I.M.C= Peso en Kg / (talla en m)2 <input
                    style="width: 80px;" type="text" name="imc"></td>
            <td style="width: 50px;"><input style="margin-left: 30px;" type="text" name="perimetroAbdominal"></td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td class="corner" style=" border-right: 1px solid black;">51&nbsp;&nbsp;PRESIÓN ARTERIAL (con brazo al nivel del corazón)</td>
            <td class="corner" style="width: 135px;">52&nbsp;&nbsp;PULSO  (Test de Rufier)</td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td  style=" border-right: 1px solid black;">Acostado</td>
            <td  style="border-right: 1px solid black;">Sentado</td>
            <td  style="border-right: 1px solid black;">de pie 3 min</td>
            <td  style=" border-right: 1px solid black;">Pulso basal</td>
            <td  style="border-right: 1px solid black;">Pulso después del ejercicio</td>
            <td  style="border-right: 1px solid black;" >Pulso un minuto después</td>
            <td  style="border-right: 1px solid black;">ÍNDICE</td>
            <td  style="border-right: 1px solid black;">CATEGORÍA</td>
        </tr>
        <tr>
            <td  style=" border-right: 1px solid black;">sist.&nbsp;&nbsp; <input style="width: 80px;"type="text"></td>
            <td  style="border-right: 1px solid black;">sist. &nbsp;&nbsp;<input style="width: 80px;"type="text"></td>
            <td  style="border-right: 1px solid black;">sist. &nbsp;&nbsp; <input style="width: 80px;"type="text"></td>
            <td  rowspan="2"style=" border-right: 1px solid black;"><input style="width: 100px;" type="text"></td>
            <td  rowspan="2"style="border-right: 1px solid black;"><input style="width: 100px;" type="text"></td>
            <td  rowspan="2"style="border-right: 1px solid black;"><input style="width: 100px;" type="text"></td>
            <td  rowspan="2"style="border-right: 1px solid black;"><input style="width: 80px;" type="text"></td>
            <td  rowspan="2"style="border-right: 1px solid black;"><input style="width: 80px;" type="text"></td>
        </tr>
        <tr>
            <td  style=" border-right: 1px solid black;">diast.&nbsp;<input style="width: 80px;" type="text"></td>
            <td  style="border-right: 1px solid black;">diast.&nbsp;<input style="width: 80px;"type="text"></td>
            <td  style="border-right: 1px solid black;">diast.&nbsp;<input style="width: 80px;"type="text"></td>
        </tr>
    </table>
    <!-- <table id="mitable">
        <tr>
          <td>A</td>
          <td>A</td>
          <td>A</td>
          <td rowspan="2">B</td>
          <td rowspan="2">B1</td>
          <td rowspan="2">B2</td>
        </tr>
        
        <tr>
          <td>C</td>
          <td>C</td>
          <td>C</td>
        </tr>
        </table> -->
</p-card>
<p-card>
    <table id="mitable">
     <tr>
        <td style=" border-right: 1px solid black; width: 350px;" class="corner">53 &nbsp;&nbsp;VISIÓN DISTANTE</td>
        <td style=" border-right: 1px solid black; width: 230px" class="corner">54 &nbsp;&nbsp;REFRACCIÓN</td>
        <td style=" border-right: 1px solid black;;">&nbsp;&nbsp;PRESCRIPCIÓN</td>
        <td style=" border-right: 1px solid black;width: 350px;" class="corner">55 &nbsp;&nbsp;VISIÓN CERCANA (13")</td>
      </tr> 
    </table>
   
    <table id="mitable"> 
        <tr>
          <td style=" border-right: 1px solid black; width: 350px;">ojo der.: 20/&nbsp;<input style="width: 70px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;corr 20/&nbsp;<input style="width: 70px;" type="text"></td>
          <td style=" border-right: 1px solid black; width: 230px;"><input  style="width: 100px;"type="text"><br> Por &nbsp;&nbsp;S= &nbsp;&nbsp;cx</td>
          <td style=" border-right: 1px solid black;"><input style="width: 100px;" type="text"><br> Por &nbsp;&nbsp;S &nbsp;~  &nbsp;&nbsp;cx</td>
          <td style=" border-right: 1px solid black; width: 350px;">ojo der.: 20/&nbsp;<input style="width: 70px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;corr 20/&nbsp;<input style="width: 70px;" type="text"></td>
        </tr>
        <tr>
            <td style=" border-right: 1px solid black; width: 350px;">ojo izq.: 20/&nbsp;<input style="width: 70px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;corr 20/&nbsp;<input style="width: 70px;" type="text"></td>
            <td style=" border-right: 1px solid black; width: 230px"><input style="width: 100px;"type="text"><br> Por &nbsp;&nbsp;S=&nbsp;&nbsp;cx</td>
            <td style=" border-right: 1px solid black;"><input style="width: 100px;" type="text"><br> Por &nbsp;&nbsp;S &nbsp; ~  &nbsp;&nbsp;cx</td>
            <td style=" border-right: 1px solid black; width: 350px;">ojo izq.: 20/&nbsp;<input style="width: 70px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;corr 20/&nbsp;<input style="width: 70px;" type="text"></td>
          </tr>
        </table>
    <table id="mitable">
        <tr>
            <td class="corner"style=" border-right: 1px solid black; width: 800px;" rowspan="2">56&nbsp;&nbsp;&nbsp;HETEROFORIA DISTANTE (a 6 mts, 0 20 pies) 
                <br>&nbsp;&nbsp;&nbsp; EN ▲ &nbsp;<input style="width: 70px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                       EX ▲ &nbsp;<input style="width: 70px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                       HD ▲ &nbsp;<input style="width: 70px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                       HI ▲ &nbsp;<input style="width: 70px;" type="text">&nbsp;&nbsp;</td>
            <td style="width:609px;" class="corner">56&nbsp;&nbsp;&nbsp;ACOMODACIÓN - Edad</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OD&nbsp;<input style="width: 100px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OD&nbsp;<input style="width: 100px;" type="text"> </td>
        </tr>

    </table>
    <table id="mitable">
        <tr>
            <td>PRISMA DIVERGENTE</td>
            <td>PRISMA CONVERGENTE</td>
            <td>COVER TEST</td>
            <td>COVERG. PUPILAR</td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black;width: 350px;" class="corner">58&nbsp;&nbsp;&nbsp;Campo visual &nbsp; <input style="width: 80px;" type="text"></td>
            <td style=" border-right: 1px solid black;width: 350px;" class="corner">59&nbsp;&nbsp;&nbsp;Visión cromática &nbsp; <input style="width: 80px;" type="text"></td>
            <td style=" border-right: 1px solid black;width: 250px;"class="corner">60&nbsp;&nbsp;&nbsp;percep. de prof</td>
            <td style=" border-right: 1px solid black;">sin lentes</td>
            <td style=" border-right: 1px solid black;">con lentes</td>
        </tr>
        <tr style="border-top: 1px solid black;">
            <td style=" border-right: 1px solid black;" class="cornerp">61&nbsp;&nbsp;&nbsp;Perimetría &nbsp; <input style="width: 80px; " type="text"></td>
            <td style=" border-right: 1px solid black;" rowspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calificación &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input style="width: 80px;" type="text"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Test utilizado &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input style="width: 80px;" type="text"> </td>
            <td style=" border-right: 1px solid black;font-size: 10px;"rowspan="2">&nbsp;  AFVT. VERHOEF HD. <input style="width: 80px;" type="text"> <br> (6mts - 20 pies)</td>
            <td style=" border-right: 1px solid black;"><input style="width: 80px;" type="text"></td>
            <td style=" border-right: 1px solid black;"><input style="width: 80px;" type="text"></td>
        </tr>

    </table>
    <table id="mitable">
        <tr>
            <td class="corner">62&nbsp;&nbsp;&nbsp;Oftalmoloscópico  &nbsp; <input  type="text"></td>
        </tr>
    </table>
    <table id="mitable">
        <tr>
            <td style=" border-right: 1px solid black;" class="cornerv">63&nbsp;&nbsp;&nbsp;Visión nocturna &nbsp;<input style="width: 80px;" type="text"></td>
            <td style=" border-right: 1px solid black;" class="cornerv">64&nbsp;&nbsp;&nbsp;Lente rojo &nbsp;<input style="width: 80px;" type="text"></td>
            <td rowspan="3" style=" border-right: 1px solid black; width:200px" class="corner">65&nbsp;&nbsp;&nbsp;Tensión ocular <br>
                &nbsp;DIGT.  OD&nbsp; <input style="width: 60px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TON&nbsp;&nbsp;<input style="width: 60px;" type="text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OD
                &nbsp;<input style="width: 60px;" type="text"> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OI&nbsp;&nbsp;&nbsp;<input style="width: 60px;" type="text">&nbsp;Aplanática&nbsp;&nbsp;&nbsp;<input style="width: 60px;" type="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OI&nbsp;&nbsp;<input style="width: 60px;" type="text">
             </td>
        </tr>
    </table>
</p-card>
<p-card>
    <table id="mitable">
        <tr >
            <td style=" border-right: 1px solid black; width: 300px;" class="corner">66 &nbsp; &nbsp;AUDICIÓN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VOZ CUCHICHEADA</td>
            <td style=" border-right: 1px solid black; width: 300px;" class="corner">67 &nbsp; &nbsp;AUDIOMETRÍA &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;250</td>
            <td style=" border-right: 1px solid black; text-align: center;">500</td>
            <td style=" border-right: 1px solid black; text-align: center;">1.000</td>
            <td style=" border-right: 1px solid black; text-align: center;">2.000</td>
            <td style=" border-right: 1px solid black; text-align: center;">3.000</td>
            <td style=" border-right: 1px solid black; text-align: center;">4.000</td>
            <td style=" border-right: 1px solid black; text-align: center;">5.000</td>
            <td style=" border-right: 1px solid black; text-align: center;">8.000</td>
        </tr>
        <tr style="border-top: 1px solid black;">
            <td style=" border-right: 1px solid black;width: 300px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oído derecho&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15/&nbsp;<input style="width:30px" type="text"> </td>
            <td style=" border-right: 1px solid black;width: 300px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oido derecho&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
        </tr>
        <tr style="border-top: 1px solid black;">
            <td style=" border-right: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oído izquierdo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;15/&nbsp;<input style="width:30px" type="text"> </td>
            <td style=" border-right: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oido izquierdo&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
            <td style=" border-right: 1px solid black;text-align: center;"><input style="width:50px" type="text"></td>
        </tr>
    </table>
</p-card>