
<button pButton pRipple type="button" label="Atras" class="p-button-rounded p-button-success mr-2 mb-2"></button>
<div class="card">
        <p-accordion>
            <p-accordionTab header="I DATOS PERSONALES" [selected]="true" class="line-height-3 m-0">
                <div class="card">
                    datos personales
                </div>
            </p-accordionTab>
            <p-accordionTab header="II HISTORIA MÉDICA" class="line-height-3 m-0">
                <div class="card">
                    Antecedentes patológicos personales
                    Antecedentes patológicos familiares
                </div>
                <div class="card">
                    Firma:
                </div>
            </p-accordionTab>
            <p-accordionTab header="III EXAMEN CLÍNICO" class="line-height-3 m-0">
                <div class="card">
                    otorrinologia
                </div>
                <div class="card">
                    oftalmologia
                </div>
                <div class="card">
                    medicinageneral
                </div>
                <div class="card">
                    traumatologia
                </div>
            </p-accordionTab>
            <p-accordionTab header="IV MEDIDAS Y OTROS DATOS" class="line-height-3 m-0">
                <div class="card">
                    enfermeria
                </div>
                <div class="card">
                    oftalmologia
                </div>
                <div class="card">
                    audiometria
                </div>
            </p-accordionTab>
            <p-accordionTab header="V EXAMEN PSICOLÓGICO" class="line-height-3 m-0">
                <div class="card">
                    psicologia
                </div>
                
            </p-accordionTab>
            <p-accordionTab header="VI EXAMEN DENTAL" class="line-height-3 m-0">
                <div class="card">
                    odontologia
                </div>
            </p-accordionTab>
            <p-accordionTab header="VII EXÁMENES COMPLEMENTARIOS" class="line-height-3 m-0">
                <div class="card">
                    laboratorio clinico
                </div>
                <div class="card">
                    examenes y rechequeos
                </div>
            </p-accordionTab>
            <p-accordionTab header="EVALUACIÓN Y CALIFICACIÓN" class="line-height-3 m-0">
                <div class="card">
                    evaluacion
                </div>
                
            </p-accordionTab>
        </p-accordion>
</div>
